@using Mapbox.Razor.Models;
@using Microsoft.JSInterop;

@inject IJSRuntime jsRuntime

<div id="@mapContainerId">
</div>


@code
{
    [Parameter, EditorRequired]
    public MapConfiguration? MapConfiguration { get; set; }

}